// variables
$color-bg-main: #f3f7fb;
$color-bg-white: #fff;
$shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
$radius: 8px;
$color-blue: #1a73e8;

.register-page {
	background-color: $color-bg-main;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 80rem;
		min-height: 100vh;
		// width: 100%;
		padding: 0 2rem;
		margin: 0 auto;
	}
	// Main
	.main {
		.wrapper {
			max-width: 26rem;
			width: 100%;
			margin: 2rem auto;
			padding: 2rem 2.5rem;
			background-color: $color-bg-white;
			border-radius: $radius;
			box-shadow: $shadow-light;
		}
	}
	.text {
		text-transform: capitalize;
		margin-bottom: 20px;

		&-normal {
			a {
				color: $color-blue;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
